
:root {
  --path-item-hl: rgb(0, 78, 141);
  --light-hlnode: rgb(0, 102, 185);
  --under-hlnode: rgb(92, 0, 121);
  --hl-token-color: orangered;
  --ghost-color: rgb(180, 180, 180);
  --keyword: orange;
  --comments: darkgray;
  --bg: #5e5184;
  --fg: rgb(243, 243, 243);
  --fg-weak: gray;
  --fg-strong: white;
  --ast-path-hover: rgb(97, 97, 97);
  --panel: rgb(48, 48, 48);
}
