
:root {
  --path-item-hl: rgb(214, 255, 212);
  --light-hlnode: rgb(237, 255, 236);
  --under-hlnode: rgb(153, 245, 111);
  --hl-token-color: #5e5184;
  --ghost-color: rgb(180, 180, 180);
  --keyword: rgb(24, 192, 24);
  --comment: gray;
  --bg: #5e5184;
  /* system default
  --fg */
  --ast-path-hover: lightgray;
  --fg-weak: gray;
  --fg-strong: black;
  --panel: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg);
}

* {
  font-size: large;
}

.app-ui {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0.4em;
}

.flexbox-v {
  display: flex;
  flex-flow: column;
  gap: 0.4em;
}

.flexbox-h {
  display: flex;
  flex-flow: row;
  gap: 0.5em;
}

.panel {
  overflow-y: auto;
}

.flex-0 { flex: 0;}
.flex-1 { flex: 1;}
.flex-2 { flex: 2;}
.flex-3 { flex: 3;}
.flex-4 { flex: 4;}
.flex-5 { flex: 5;}

.box {
  padding: 0.5em;
  border-radius: 0.5em;
}

.box,
textarea,
.ast-path > div {
  background-color: var(--panel);
  color: var(--fg);
}

.title {
  padding: 0.7em 1em;
  color: white;
}

.title > h1 {
  margin: 0;
  font-size: 1.5em;
}

.app-output > pre {
  margin: 0;
}

.app-input textarea {
  flex: 1;
  height: 100%;
  width: 100%;
}

.ast-path {
  border-radius: 0.5em;
}

.ast-path > div:nth-child(n+2) {
  border-top: 0.15em solid var(--bg);
}

.ast-path > div > * {
  border-left: 0.5em solid var(--panel);
}

.ast-path > div summary {
  padding: 0.3em 0.5em;
}

.ast-path > div summary ~ * {
  padding: 0.3em 0.5em;
}

.ast-path > div:hover summary {
  background-color: var(--ast-path-hover);
}

.ast-path > div:hover > * {
  border-left-color: var(--path-item-hl);
}

.ast-path > div.under-hlnode > * {
  border-left-color: var(--under-hlnode);
}

button {
  border-radius: 0.3em;
}

.keyword,
.pseudokeyword,
.special {
  color: var(--keyword);
}

summary,
.app-output .token {
  cursor: pointer;
}

.unlocked .level-1 .token,
.unlocked .level-1 .space {
  background-color: var(--light-hlnode);
}

.level-1 .token,
.level-1 .space {
  background-color: var(--path-item-hl);
}

.level-0.token,
.level-1 > .token,
.level-0.space {
  font-weight: bold;
  color: var(--hl-token-color);
  text-decoration: underline dotted;
}

.token:hover {
  font-weight: bold;
  text-decoration: underline solid;
}

.hlnode .token,
.hlnode .space,
.hlnode .nonterminal {
  background-color: var(--path-item-hl);
}

.hlnode .under-hlnode .token,
.hlnode .under-hlnode .space,
.under-hlnode .token,
.under-hlnode .space,
.under-hlnode .nonterminal,
.hlnode .under-hlnode.nonterminal {
  background-color: var(--under-hlnode);;
}

.hlnode > .token {
  font-weight: bold;
  color: var(--hl-token-color);
  text-decoration: underline;
}

.litinteger,
.litfloat,
.litchar,
.litstring {
  color: purple;
}

.space,
.comment,
.begin-line {
  color: var(--comment);
}

#show-layout { display: none; }

input[id="show-layout"]:checked ~ * label[for="show-layout"] .yes,
input[id="show-layout"] ~ * label[for="show-layout"] .no {
  color: --fg-strong;
  font-weight: bold;
}

input[id="show-layout"]:checked ~ * label[for="show-layout"] .no,
input[id="show-layout"] ~ * label[for="show-layout"] .yes {
  color: --fg-weak;
  font-weight: normal;
}

label[for] {
  cursor: pointer;
}

#show-layout:checked ~ * .special.ghost::before {
  content: attr(data-ghost);
  color: var(--ghost-color);
}

.level-2 .begin-line.space,
.level-1 .begin-line.space,
.begin-line.space {
  background-color: transparent;
}

.focused.focused-level-0.token {
  outline: 1px solid black;
  font-weight: bold;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  vertical-align: super;
  font-size: small;
}

.tooltip.tooltip-extensionused::before {
  content: "✚";
  color: purple;
}

.tooltip.tooltip-warning::before {
  content: "⚠";
  color: orange;
}

.tooltip-contents {
  display: none;
}

.tooltip:hover .tooltip-contents {
  display: inline-block;
  content: attr(data-descr);
  position: absolute;
  bottom: 1.2em;
  left: 0;
  background-color: #eeeeee;
  color: purple;
}

/* Right panel */

.syntax-desc > details > summary {
  display: flex;
  gap: 1em;
  flex-flow: row;
  white-space: nowrap;
}

.syntax-desc > details > summary > * {
  flex: 0;
}

.syntax-desc > details > summary > :last-child {
  display: inline-block;
  max-width: 20vw;
  overflow: clip;
  white-space: nowrap;
  margin-left: auto;
  align-self: center;
}

.syntax-desc > details > summary > :last-child > * {
  display: inline-block;
}

.syntax-desc > details[open] > summary > :last-child {
  flex-basis: content;
  width: auto;
  margin-top: 3px;
  white-space: normal;
}

.syntax-rules {
  margin-left: 0.5em;
}

.syntax-rules > * {
  margin-left: 1em;
}

.syntax-rules .grp {
  text-decoration: overline;
}

.syntax-rules .quantifier {
  text-decoration: underline dotted;
  cursor: help;
}

.sr-nonterminal {
  font-style: italic;
}

.sr-keyword{
  font-weight: bold;
}
